* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.todo-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  background-color: aliceblue;
  transition: background 0.3s ease, color 0.3s ease;
}

h1 {
  font-size: 40px;
  font-family: 'Times New Roman', Times, serif;
}

.theme-btn {
  font-size: 22px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  background: transparent;
  transition: transform 0.2s ease;
}
.theme-btn:hover {
  transform: scale(1.1);
}

.input-group {
  background-color: rgb(18, 20, 39);
  width: 100%;
  max-width: 700px;
  padding: 20px;
  font-size: 30px;
}

.input-group input,
.input-group button {
  padding: 20px;
  font-size: 25px;
  border: none;
  border-radius: 20px;
}

#task-list {
  background-color: black;
  padding: 20px;
  width: 100%;
  color: aliceblue;
  list-style: none;
  text-align: left;
  font-size: 20px;
  gap: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  box-shadow: 1px 3px 11px rgba(146, 146, 141, 0.589);
  margin: 20px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.068);
  padding: 5px 20px;
  max-width: 500px;
  margin:20px auto;
  border-radius: 10px;
}

li button {
  border: none;
  padding: 10px;
  font-size: 20px;
  outline: none;
  background-color: cadetblue;
  color: aliceblue;
  font-weight: bold;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}

.remove {
  background-color: brown;
  color: aliceblue;
}

.complete {
  background-color: darkgray;
  color: black;
  font-weight: bold;
}

.dark-mode {
  background-color: #1e1e1e;
  color: white;
}
.dark-mode #task-list {
  background: #2a2a2a;
}
.dark-mode .input-group {
  background: #333;
}
.dark-mode li {
  box-shadow: 1px 3px 11px rgba(255, 255, 255, 0.1);
}

#task-list {
  background: rgba(24, 18, 18, 0.15); /* شفافية */
  backdrop-filter: blur(12px); /* تأثير الزجاج */
  -webkit-backdrop-filter: blur(12px); /* دعم سفاري */
  padding: 20px;
  width: 100%;
  color: rgba(13, 33, 51, 0.774);
  list-style: none;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  gap: 20px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.2); /* حافة خفيفة */
}
